/* ACCORDION
   ==========================================================================
*/

@use 'colors' as *;
@use 'typography' as *;

.accordion-wrapper {
    padding: 1.5rem;
}

.accordion-container {
    list-style-type: none;
    padding: 0;

    &-item {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        border: 1px solid red;

        & > * {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &-arrow {
            color: $primary-soft-red;
            transform: rotate(90deg);
            font-weight: $font-weight-bold;
        }
    }

}

input[type="radio"] {
    display: none;
}



