/* CARD
   ==========================================================================
*/
@use 'utilities' as *;

.card {
    width: 320px;
    height: 520px;
    background-color: white;
    border-radius: 20px;

    &-img {
        width: auto;
        height: 0;

        &-woman {
            @include img-centering;
            width: 75%;
            top: -110px;
        }

        &-shadow-mobile {
            @include img-centering;
            top: -180px;
        }
    }

    &-title {
        text-align: center;
        font-size: 2rem;
        margin-top: 9rem;
    }
}

