/* CARD
   ==========================================================================
*/

.card {
    width: 320px;
    height: 520px;
    background-color: white;
    border-radius: 20px;

    &-img {
        width: auto;
        height: 0;

        &-woman {
            position: relative;
            width: 75%;
            display: block;
            margin: auto;
            height: auto;
            top: -110px;
        }

        &-shadow-mobile {
            position: relative;
            display: block;
            margin: auto;
            height: auto;
            top: -180px;
        }
    }
}

