/* TYPOGRAPHY
   ==========================================================================
*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// Font
$base-font-size: 12px;
$base-font-weight: 400;
$font-weight-bold: 700;
$base-font-family: 'Kumbh Sans', sans-serif;